/* Скрываем стандартные радиокнопки */
.custom-radio input[type="radio"] {
    display: none;
}

/* Стили для изображений */
.custom-radio img {
    width: 160px;  /* Задайте нужный размер изображения */
    height: 160px;
    cursor: pointer;
    opacity: 0.6;  /* Немного прозрачности для неактивных элементов */
    transition: opacity 0.3s ease;  /* Анимация для плавного перехода */
}

/* Когда радиокнопка выбрана, делаем изображение полностью видимым */
.custom-radio input[type="radio"]:checked + img {
    opacity: 1;
    border: 2px solid #007BFF; /* Добавляем рамку для выбранного элемента */
}
#s_b {
    font-size: 16px;
    padding: 10px 20px;
    border-color: blue;
    border-width: medium;
    cursor: pointer;
    background-color: white;
    color: blue;
    border-radius: 5px;
}
#s_b[disabled] {
    opacity: 0.6;
    background-color: grey;
    cursor: not-allowed;
}